<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#st">Student</a></li>
            <li><a href="#wi">Wish</a></li>
            <li><a href="#fo">Food</a></li>
            <li><a href="#pe">Person</a></li> 
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1 ng-click="doStuff()">{{ helloWorld }}</h1>
    </div>
  </div>

  <hr/>


<!-- /Persoana -->
  <div class="container" ng-controller="HomeController">
   <h1 id="#pe">Person</h1>
    <h2>List all persons</h2>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="pers in persoane" data-id="{{pers.id}}">
        <td>{{ pers.name }}</td>
        <td>{{ pers.id }}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
         <button ng-click="setUpdatePerson(pers)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
  <button ng-click="deletePersoana(pers.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
  </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new person</h2>
    <table>
    <tr>
    <td>ID</td>
        <td><input type="text" class="form-control" ng-model="person.id"/></td>
  
    </tr>
    <tr>
    <td>Name</td>
    <td><input type="text" class="form-control" ng-model="person.name"/></td>
        </tr>
    <tr>
    <td colspan="2">
   <button ng-click="addPersoana(person)" class="btn btn-primary btn-xs">Add</button>
        </td>
    </tr>
   </table>

        <h2>Edit a person</h2>
        <table>
       <tr>
        <td>Id</td>
        <td><input type="text" class="form-control" ng-model="editPerson.id"></td>
       </tr>
       <tr>
         <td>Name</td>
         <td><input type="text" class="form-control" ng-model="editPerson.name"></td>
       </tr>
       <tr>
         <td colspan="2">
           <button class="btn btn-info btn-xs" ng-click="updatePerson()">
            Update
           </button>
         </td>
       </tr>
     </table>
  </div>
  </div>
  <hr/>

  <!-- /Student-->
   <div class="container" ng-controller="StudentController">
    <h1 id="#st">Student</h1>
    
       <div class="col-md-12">
           <h2 class="col-md-4">List of students</h2>
           <img class="col-md-4" src="http://img.studentie.ro/560-de-olimpici-admisi-direct-la-facultate/de14d2f98a68f513d/250/0/1/99/560-de-olimpici-admisi-direct-la-facultate.jpg" class="img-thumbnail"/> 
      </div>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="stud in studenti" data-id="{{stud.id}}">
		<td>{{stud.nume }}</td>
        <td>{{stud.grupa}}</td>
        <td>{{stud.id}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
         <button ng-click="setUpdateStudent(stud)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
		<button ng-click="deleteStudent(stud.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
		</button>
          </a>
        </td>
      </tr>
    </table>

      <h2>Edit a student</h2>
        <table>
       <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="editStudent.id"></td>
       </tr>
       <tr>
         <td>Name</td>
         <td><input type="text" class="form-control" ng-model="editStudent.nume"></td>
       </tr>
        <tr>
         <td>Grupa</td>
         <td><input type="text" class="form-control" ng-model="editStudent.grupa"></td>
       </tr>
       <tr>
         <td colspan="2">
           <button class="btn btn-info btn-xs" ng-click="updateStudent()">
            Update
           </button>
         </td>
       </tr>
     </table>

      <h2>Add new student</h2>
    <table>
	   <tr>
		<td>ID</td>
        <td><input type="text" class="form-control" ng-model="student.id"/></td>
	   </tr>
	   <tr>
		<td>Nume</td>
		<td><input type="text" class="form-control" ng-model="student.nume"/></td>
       </tr>
        <tr>
		<td>Grupa</td>
		<td><input type="text" class="form-control" ng-model="student.grupa"/></td>
       </tr>
	   <tr>
		<td colspan="2">
			<button ng-click="addStudent(student)" class="btn btn-primary btn-xs">Add</button>
        </td>
	   </tr>
	  </table>
    </div>


  <hr/>
  
    <!-- /Wish-->
  <div class="container" ng-controller="WishController">
    <h1 id="wi">Wish</h1>
    <div class="col-md-12">
           <h2 class="col-md-4">List of wishes</h2> 
      </div>
   <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="wish in wishes" data-id="{{wish.id}}">
		<td>{{ wish.sir }}</td>
        <td>{{wish.nume}}</td>
        <td>{{wish.id}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
         <button ng-click="setUpdateWish(wish)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
		<button ng-click="deleteWish(wish.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
		</button>
          </a>
        </td>
      </tr>
    </table>

   <h2>Edit a wish</h2>
        <table>
       <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="editWish.id"></td>
       </tr>
       <tr>
         <td>Name</td>
         <td><input type="text" class="form-control" ng-model="editWish.nume"></td>
       </tr>
        <tr>
         <td>Wish</td>
         <td><input type="text" class="form-control" ng-model="editWish.sir"></td>
       </tr>
       <tr>
         <td colspan="2">
           <button class="btn btn-info btn-xs" ng-click="updateWish()">
            Update
           </button>
         </td>
       </tr>
     </table>

      <h2>Add new wish</h2>
    <table>
	   <tr>
		<td>ID</td>
        <td><input type="text" class="form-control" ng-model="wish.id"/></td>
		
	   </tr>
	   <tr>
		<td>Name</td>
		<td><input type="text" class="form-control" ng-model="wish.nume"/></td>
       </tr>
        <tr>
		<td>Wish</td>
		<td><input type="text" class="form-control" ng-model="wish.sir"/></td>
       </tr>
	   <tr>
		<td colspan="2">
			<button ng-click="addWish(wish)" class="btn btn-primary btn-xs">Add</button>
        </td>
	   </tr>
	  </table>
    </div>

   <hr/>
 
      <!-- /Food-->
   <div class="container" ng-controller="FoodController">
    <h1 id="#fo">Food</h1>
    <h2>List all food</h2>
    <table class="table table-bordered">
      <tr>
          <img src="https://static1.squarespace.com/static/553b26fde4b08ceb08a4242c/553b2823e4b0eb3719c6d635/553b2836e4b0eb3719c7cbf1/1416776926043/1000w/watermelon.jpg" class="img-thumbnail"/> 
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="foo in foods" data-id="{{foo.id}}">
        <td>{{ foo.nume }}</td>
        <td>{{ foo.gen }}</td>
        <td>{{ foo.id }}</td>
          
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
         <button ng-click="setUpdateFood(foo)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
  <button ng-click="deleteFood(foo.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
  </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new food</h2>
    <table>
    <tr>
    <td>ID</td>
        <td><input type="text" class="form-control" ng-model="food1.id"/></td>
  
    </tr>
    <tr>
    <td>Nume</td>
    <td><input type="text" class="form-control" ng-model="food1.nume"/></td>
        </tr>
    <tr>
         <tr>
    <td>Gen</td>
        <td><input type="text" class="form-control" ng-model="food1.gen"/></td>
  
    </tr>
    <td colspan="2">
   <button ng-click="addFood(food1)" class="btn btn-primary btn-xs">Add</button>
        </td>
    </tr>
   </table>

        <h2>Edit a type of food</h2>
        <table>
       <tr>
        <td>Id</td>
        <td><input type="text" class="form-control" ng-model="editFood.id"></td>
       </tr>
       <tr>
         <td>Nume</td>
         <td><input type="text" class="form-control" ng-model="editFood.nume"></td>
       </tr>
            <tr>
        <td>Gen</td>
        <td><input type="text" class="form-control" ng-model="editFood.gen"></td>
       </tr>
       <tr>
         <td colspan="2">
           <button class="btn btn-info btn-xs" ng-click="updateFood()">
            Update
           </button>
         </td>
       </tr>
     </table>
  </div>
    
  <hr/>
  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Vamesu Ilinca Maria, 331AB</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
